{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de
    {{ app.user.firstName}}
    {{ app.user.lastName }}
{% endblock %}


{% block body %}

    <div class="container mt-4" id="divMyOrderFormsList">

        <h2 class="display-6 text-center">Modification du mot de passe de

            {{ app.user.firstName}}
            {{ app.user.lastName }}</h2>

        <hr class="my-4">

        {{ form_start(formUser) }}

        {{ form_row(formUser.password, {'label': 'Mot de passe'}) }}
        {{ form_row(formUser.confirm_password, {'label': 'Confirmation du mot de passe'}) }}

        <button class="btn btn-success" type="submit" type="submit">Modifier</button>
        <a class="btn btn-info" href="{{ path('member_profil') }}" role="button">Retour</a>

        {{ form_end(formUser)}}

    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
$("form").submit(function () {
$.ajax({
url: "password",
type: "POST",
data: $("form").serialize(),
success: function (response) {
$('#flashContainer').append('<div class="container-fluid alert ' + response.alert + ' fixed-top rounded-0 text-center" role="alert">' + response.message + '</div>');
$('.modal').modal('hide');
$(".alert").delay(5000).slideUp(600);
},
error: function (response) {
alert(response.message);
}
});
return false;
});
});
	</script>
{% endblock %}